<form method="post" action="{{ path('app_student_delete', {'id': student.id}) }}" onsubmit="return confirm('{% trans %}Etes-vous sure de vouloir supprimer cet élément?{% endtrans %}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student.id) }}">
    <button class="btn">{% trans %}Delete{% endtrans %}</button>
</form>
