{% extends 'base.html.twig' %}

{% block title %}New Student{% endblock %}

{% block body %}
    <h1>{% trans %}Create new Student{% endtrans %}</h1>

    {{ include('student/_form.html.twig') }}

    <a href="{{ path('app_student_index') }}">{% trans %}back to list{% endtrans %}</a>
{% endblock %}
