{% extends 'base.html.twig' %}

{% block title %}{% trans %}Creation of a QR-CODE for the student{% endtrans %}{% endblock %}

{% block body %}
<form action="qrcode.php" method="post">
    <label for="gender-select">{% trans %}Choose gender :{% endtrans %}</label>
    <select name="gender" id="gender-select">
        <option value="F">F</option>
        <option value="H">H</option>
    </select>
    <div>
        <label for="name">Id :</label>
        <input type="text" name="id">
    </div>
    <button type="submit" class="btn btn-primary">{% trans %}Submit{% endtrans%}</button>
</form>
{% endblock %}
