{% extends 'base.html.twig' %}

{% block title %}Edit Race{% endblock %}

{% block body %}
    <h1>{% trans %}Edit Race{% endtrans %}</h1>

    {{ include('race/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_race_index') }}">{% trans %}back to list{% endtrans %}</a>

    {{ include('race/_delete_form.html.twig') }}
{% endblock %}
